body {
    font-family: 'Yuji Syuku', sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

body {
    font-family: 'Great Vibes', cursive;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

h1 {
    color: #333;
}

#form-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 400px;
    margin: 20px auto;
    flex-wrap: nowrap;
    justify-content: center;
}

input[type="text"], select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/></svg>') no-repeat right 10px center;
    background-size: 16px 16px;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

#download-pdf, #imprimir-texto {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#download-pdf:hover, #imprimir-texto:hover {
    background-color: #3e8e41;
}

#preview {
    margin-top: 30px;
    position: relative;
    display: flex;
    justify-content: center;
    border: 2px dashed #ccc;
    padding: 20px;
    background-color: #f9f9f9;
}

#imagemPreview {
    width: 100%;
}

#texto-fixo {
    position: absolute;
    top: 457.5px;
    left: 601.188px;
    transform: translate(-50%, -50%);
    color: #000;
    cursor: move;
    padding: 2px;
    transform-origin: center;
    white-space: pre-line;
    font-family: 'Great Vibes';
    font-size: 34px;
    width: max-content;
}

#coordenadas {
    margin-top: 10px;
    font-size: 40px;
    color: #777;
}

.text-container {
    position: absolute; /* Para facilitar o posicionamento dinâmico */
    font-family: 'Yuji Syuku', 'Great Vibes', cursive;
}

/* Exemplo de posicionamento para os blocos de texto */
#missa-container {
    top: 50px;
    left: 100px;
}

#nomeFalecido-container {
    top: 100px;
    left: 100px;
}

#nomeFalecidoJapones-container {
    top: 150px;
    left: 100px;
}

#relacao-container {
    top: 200px;
    left: 100px;
}

#nomeFamilia-container {
    top: 250px;
    left: 100px;
}

#nomeFamiliaJapones-container {
    top: 300px;
    left: 100px;
}

